{% extends 'base.html' %}
{% block main %}
    <div class="texto_pagina">
        <div>
            <h1>
                Suzuki Intruder 125cc
            </h1>
        </div>
        <div>
            <p>
                A historia Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptate suscipit non odit et vitae aspernatur, illo quia voluptatibus 
                expedita assumenda molestiae explicabo amet dolores ab similique quidem 
                quos unde. Ipsum!
            </p>
        </div>
    </div>

{% endblock %}