{% extends 'base.html' %}
{% block main %}

<div class="container">
    <img class="imagem_pagina" src="../static/img/shadow.jpg" alt="Imagem">
    <div class="texto_pagina">
        <h2>Honda Shadow 600</h2>
        <p>No início da década de 80 a Honda lançou no mercado a sua primeira moto Custom, a Honda Shadow VT500,
            na época a Harley não tinha um mercado tão expressivo no Brasil, pois focava principalmente o
            mercado norte americano, com isso a Honda Shadow conseguiu conquistar grande parte do público 
            apaixonado pelas motos custom.
            <br>A Honda Shadow 500, era equipada com motor de 491 cc com OHC (designação que se dá a motores que
            tem o eixo do comando de válvulas localizado na parte superior do cabeçote do motor, ou seja, o 
            sistema de comando de válvulas que ocorre na parte superior do motor, mais precisamente no cabeçote) de 3 válvulas, motor em V com refrigeração líquida e 6 velocidades de câmbio.
            <br>O modelo foi substituído na década de 90, onde a Honda lançou no mercado Brasileiro o seu grande 
            sucesso, a Shadow VT 600, modelo dotado de Garfo alongado, rodas raiadas, motor VTwin e muito cromado.
            Até o ano de 2003 possuía carburação dupla e bomba de gasolina elétrica, após 2003 passou a ter
            carburação simples e o sistema de bomba elétrica foi eliminado, apresenta motor de dois cilindros em “V” e duas velas por cilindro, suspensão uni-link com amortecedor a gás.
            A Shadow VT 600 acabou se destacando perante as concorrentes Vulcan (Kawasaki) e Virago (Yamaha).
            E até hoje é uma moto com um excelente custo benefício.
            Em 2001, no auge da fama, a Shadow 600 vendeu quase 4.000 unidades, mas as vendas foram caindo 
            ano a ano e em 2005 as vendas não passaram de 1.000 unidades. </p>
    </div>
    <div class="texto_pagina">
        <p>Este é um texto que percorre a página e quebra quando a imagem acaba, respeitando o máximo de 80% 
        de largura da página.
        Este texto pode ser muito longo, mas não vai ultrapassar o limite de 80% da largura da página.
        Isso é possível graças à propriedade `max-width` do elemento `div` que contém o texto. Lorem ipsum 
        dolor sit amet consectetur adipisicing elit. Impedit voluptate fugit, porro esse cum facilis itaque
        eius quis, exercitationem eveniet nobis tempore corporis? Iusto eaque at a sunt. Nihil, nobis.</p>
    </div>
    <img class="imagem_pagina2" src="../static/img/shadow-600.jpg" alt="imagem">
    <div class="texto_pagina">
        <p>Este é um texto que percorre a página e quebra quando a imagem acaba, respeitando o máximo de 80% 
        de largura da página.
        Este texto pode ser muito longo, mas não vai ultrapassar o limite de 80% da largura da página.
        Isso é possível graças à propriedade `max-width` do elemento `div` que contém o texto. Lorem ipsum 
        dolor sit amet consectetur adipisicing elit. Impedit voluptate fugit, porro esse cum facilis itaque
        eius quis, exercitationem eveniet nobis tempore corporis? Iusto eaque at a sunt. Nihil, nobis.</p>
    </div>
</div>

{% endblock %}