{% extends "base.html" %}
{% block main %}

<div class="home_body">
    <div class="cards">
        <div class="card">
          <a href="../templates/suzuki.html"><img src="../static/img/intruder.jpg" alt="Intruder125"></a>
        </div>
        <div class="card">
          <a href="../templates/virago.html"><img src="../static/img/vstar.PNG" alt="Virago250"></a>
        </div>
        <div class="card">
          <a href="../templates/honda.html"><img src="../static/img/shadow.600.PNG" alt="Shadow600"></a>
        </div>
        <div class="card">
          <a href="../templates/dragstar.html"><img src="../static/img/dragstar.PNG" alt="Dragstar650"></a>
        </div>
    </div>
</div>

{% endblock %}
